<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{select_layout.html :: layout(~{::body})}">
<head >
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<div class="container">
		<div class="row h-100 align-items-center justify-content-around">
			<div class="col-6 text-center" style="background-color:#eaeaea;padding:5px; border-radius:5px;border:black 2px solid">
				<h5 class="font-mine" style="padding:4px;">Selectionne ton monstre</h5>
				<ul id="listSelect" class="list-group">

				</ul>
			</div>
		</div>
	</div>

</body>
</html>